{% extends 'base.html' %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block head %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
    <!-- 引入 Quill 的 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='quill/dist/quill.snow.css') }}">
    <script src="{{ url_for('static', filename='quill/dist/quill.js') }}"></script>
    <script src="{{ url_for('static', filename='js/image-resize.js') }}"></script>
    <script>
        const isLoggedIn = {{ 'true' if user else 'false' }};
        const userInfoUrlTemplate = "{{ url_for('auth.user_info', user_id=0) }}".replace('/0', '/');
    </script>
    <style>
        /* 调整问答部分点赞按钮位置 */
        .question-info {
            position: relative;
        }
        .question-info .btn {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 100px; /* 增加右边距，避免挡住日期 */
        }
        .question-info .btn.btn-secondary {
            right: 100px; /* 调整查看点赞者按钮的位置 */
        }
        /* 调整评论部分点赞按钮位置 */
        .comment-group .user-info {
            position: relative;
        }
        .comment-group .user-info .btn {
            position: absolute;
            right: 0;
            margin-right: 10px; /* 增加右边距，避免挡住日期 */
            margin-top: 50px;
        }
        .comment-group .user-info .btn.btn-primary {
            margin-right: 60px; /* 给点赞按钮添加额外右边距，使其与删除按钮分开 */
        }
        .comment-group .user-info .btn.btn-secondary {
            right: 150px; /* 调整查看点赞者按钮的位置 */
        }
        /* 调整回复部分点赞按钮位置 */
        .second-comment-group .user-info {
            position: relative;
        }
        .second-comment-group .user-info .btn {
            position: absolute;
            right: 0;
            margin-right: 10px; /* 增加右边距，避免挡住日期 */
            margin-top: 50px;
        }
        .second-comment-group .user-info .btn.btn-primary {
            margin-right: 60px; /* 给点赞按钮添加额外右边距，使其与删除按钮分开 */
        }
    </style>

{% endblock %}

{% block body %}
<div class="row" style="margin-top: 20px;">
    <div class="col"></div>
    <div class="col-10" style="background-color: #fff;padding: 20px;">
        <h3 class="page-title">{{ question.title }}</h3>
        <p class="question-info">
            <span>作者:{{ question.author.username }}</span>
            <span>时间:{{ question.create_time }}</span>
            <button id="question-likes-{{ question.id }}" class="btn btn-primary btn-sm" onclick="likeQuestion({{question.id}})">
                {% if g.user and question.id in liked_question_ids %}
                    取消点赞({{ question.likes }})
                {% else %}
                    点赞({{ question.likes }})
                {% endif %}
            </button>
            <button class="btn btn-secondary btn-sm" onclick="showQuestionLikers({{ question.id }})">查看点赞者</button>
            <div id="question-likers-{{ question.id }}" style="display: none;"></div>
        </p>
        <!-- 显示问题的图片 -->
        {% if question.image %}
        <img src="{{ url_for('uploaded_file', filename=question.image) }}" class="img-fluid" alt="问题图片">
        {% endif %}
        <hr>
        <p class="question-content">{{ question.content|safe }}</p>
        <hr>
        <h4 class="comment-group-title">评论({{ question.comments|length }}):</h4>
        <!-- 一个用于显示/隐藏富文本框的按钮 -->
        <button id="showORhidden-comment-form" class="btn btn-primary">发表评论</button>
        <!-- 评论表单默认为隐藏 -->
        <form action="{{ url_for('qa.public_comment') }}" method="post" enctype="multipart/form-data" style="display: none;" id="comment-form">
            <!-- 插入CSRF令牌 -->
            {{ form.hidden_tag() }}
            <!-- Quill 编辑器容器 -->
            <div id="comment-editor" style="height: 200px;"></div>
            <input type="hidden" id="comment-content" name="content">
            <input type="hidden" id="question_id" name="question_id" value="{{ question.id }}">
            <div class="form-group" style="text-align: right;">
                <button class="btn btn-primary">评论</button>
            </div>
        </form>
        <ul class="comment-group">
            {% for comment in question.comments %}
            <li id="comment-{{ comment.id }}">
                <!-- 评论部分 -->
                <div class="user-info">
                    <a href="{{ url_for('auth.user_info', user_id=comment.author.id) }}">
                        <img class="avatar" src="{% if comment.author.avatar %}{{ url_for('uploaded_file', filename=comment.author.avatar) }}{% else %}{{ url_for('static', filename='images/avatar.jpg') }}{% endif %}" alt="">
                    </a>
                    <span class="username">{{ comment.author.username }}</span>
                    <span class="create-time">{{ comment.create_time }}</span>
                    <button id="comment-likes-{{ comment.id }}" class="btn btn-primary btn-sm" onclick="likeComment({{ comment.id }})">
                        {% if g.user and comment.id in liked_comment_ids %}
                            取消点赞({{ comment.likes }})
                        {% else %}
                            点赞({{ comment.likes }})
                        {% endif %}
                    </button>
                    <button class="btn btn-secondary btn-sm" onclick="showCommentLikers({{ comment.id }})">查看点赞者</button>
                    <div id="comment-likers-{{ comment.id }}" style="display: none;"></div>
                    {% if g.user and g.user.id == comment.author.id %}
                        <button class="btn btn-danger btn-sm" onclick="deleteComment({{ comment.id }})">删除</button>
                    {% endif %}
                </div>
                <p class="comment-content">{{ comment.content|safe }}</p>
        
                <!-- 回复按钮 -->
                <button class="btn btn-secondary btn-sm toggle-second-comment" data-comment-id="{{ comment.id }}" onclick="checkLoginAndShowForm('second-comment-form-{{ comment.id }}')">回复</button>
                <!-- 查看回复按钮 -->
                <button class="btn btn-secondary btn-sm toggle-second-comments" data-comment-id="{{ comment.id }}" data-second-comment-count="{{ comment.second_comments|length }}">查看 ({{ comment.second_comments|length }})</button>
                <!-- 回复表单 -->
                <form action="{{ url_for('qa.public_second_comment') }}" method="post" enctype="multipart/form-data" style="display: none;" id="second-comment-form-{{ comment.id }}">
                    {{ form.hidden_tag() }}
                    <div id="second-comment-editor-{{ comment.id }}" style="height: 200px;"></div>
                    <input type="hidden" id="second-comment-content-{{ comment.id }}" name="content">
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    <div class="form-group" style="text-align: right;">
                        <button class="btn btn-primary">提交回复</button>
                    </div>
                </form>
        
                <!-- 二级评论 -->
                <ul id="second-comments-list-{{ comment.id }}" class="second-comment-group">
                    {% for second_comment in comment.second_comments %}
                    <li id="second-comment-{{ second_comment.id }}">
                        <div class="user-info">
                            <a href="{{ url_for('auth.user_info', user_id=second_comment.author.id) }}">
                                <img class="avatar" src="{% if second_comment.author.avatar %}{{ url_for('uploaded_file', filename=second_comment.author.avatar) }}{% else %}{{ url_for('static', filename='images/avatar.jpg') }}{% endif %}" alt="">
                            </a>
                            <span class="username">{{ second_comment.author.username }}</span>
                            <span class="create-time">{{ second_comment.create_time }}</span>
                            <button id="second-comment-likes-{{ second_comment.id }}" class="btn btn-primary btn-sm" onclick="likeSecondComment({{ second_comment.id }})">
                                {% if g.user and second_comment.id in liked_comment_ids %}
                                    取消点赞({{ second_comment.likes }})
                                {% else %}
                                    点赞({{ second_comment.likes }})
                                {% endif %}
                            </button>
                            <button class="btn btn-secondary btn-sm" onclick="showSecondCommentLikers({{ second_comment.id }})">查看点赞者</button>
                            <div id="second-comment-likers-{{ second_comment.id }}" style="display: none;"></div>
                            {% if g.user and g.user.id == second_comment.author.id %}
                                <button class="btn btn-danger btn-sm" onclick="deleteSecondComment({{ second_comment.id }})">删除</button>
                            {% endif %}
                        </div>
                        <p class="comment-content">{{ second_comment.content|safe }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <script>
                function likeQuestion(question_id) {
                    var isLoggedIn = {{ "true" if g.user else "false" }};
                    if (!isLoggedIn) {
                        if (confirm("您还未登录，是否要去登录？")) {
                            window.location.href = "{{ url_for('auth.login') }}";
                        }
                        return;
                    }
                    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    var likesElement = document.getElementById(`question-likes-${question_id}`);
                    var isLiked = likesElement.textContent.includes("取消点赞");

                    fetch(`/like_question`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrfToken,
                            'Content-Type': 'application/json'
                        },
                        body:JSON.stringify({ question_id: question_id })
                    })
                .then(response => response.json())
                .then(data => {
                        if (data.success) {
                            if (isLiked) {
                                likesElement.textContent = `点赞(${data.likes})`;
                            } else {
                                likesElement.textContent = `取消点赞(${data.likes})`;
                            }
                        }
                    });
                }

                function likeComment(comment_id) {
                    var isLoggedIn = {{ "true" if g.user else "false" }};
                    if (!isLoggedIn) {
                        if (confirm("您还未登录，是否要去登录？")) {
                            window.location.href = "{{ url_for('auth.login') }}";
                        }
                        return;
                    }
                    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    var likesElement = document.getElementById(`comment-likes-${comment_id}`);
                    var isLiked = likesElement.textContent.includes("取消点赞");

                    fetch(`/like_comment/${comment_id}`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrfToken
                        }
                    })
                .then(response => response.json())
                .then(data => {
                        if (data.success) {
                            if (isLiked) {
                                likesElement.textContent = `点赞(${data.likes})`;
                            } else {
                                likesElement.textContent = `取消点赞(${data.likes})`;
                            }
                        }
                    });
                }

                function likeSecondComment(second_comment_id) {
            if (!isLoggedIn) {
                if (confirm("您还未登录，是否要去登录？")) {
                    window.location.href = "{{ url_for('auth.login') }}";
                }
                return;
            }
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            var likesElement = document.getElementById(`second-comment-likes-${second_comment_id}`);
            var isLiked = likesElement.textContent.includes("取消点赞");

            fetch(`/like_second_comment`, {
                method: 'PUT',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ second_comment_id: second_comment_id })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    if (isLiked) {
                        likesElement.textContent = `点赞(${data.likes})`;
                    } else {
                        likesElement.textContent = `取消点赞(${data.likes})`;
                    }
                }
            });
        }
        function showQuestionLikers(question_id) {
        const likersDiv = document.getElementById(`question-likers-${question_id}`);
        if (likersDiv.style.display === 'none') {
            fetch(`/question_likers/${question_id}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        let likersHtml = '<ul>';
                        data.likers.forEach(liker => {
                            const userInfoUrl = userInfoUrlTemplate + liker.id;
                            likersHtml += `<li><a href="${userInfoUrl}">${liker.username}</a></li>`;
                        });
                        likersHtml += '</ul>';
                        likersDiv.innerHTML = likersHtml;
                        likersDiv.style.display = 'block';
                    }
                });
        } else {
            likersDiv.style.display = 'none';
        }
    }

    function showCommentLikers(comment_id) {
        const likersDiv = document.getElementById(`comment-likers-${comment_id}`);
        if (likersDiv.style.display === 'none') {
            fetch(`/comment_likers/${comment_id}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        let likersHtml = '<ul>';
                        data.likers.forEach(liker => {
                            const userInfoUrl = userInfoUrlTemplate + liker.id;
                            likersHtml += `<li><a href="${userInfoUrl}">${liker.username}</a></li>`;
                        });
                        likersHtml += '</ul>';
                        likersDiv.innerHTML = likersHtml;
                        likersDiv.style.display = 'block';
                    }
                });
        } else {
            likersDiv.style.display = 'none';
        }
    }

    function showSecondCommentLikers(second_comment_id) {
        const likersDiv = document.getElementById(`second-comment-likers-${second_comment_id}`);
        if (likersDiv.style.display === 'none') {
            fetch(`/second_comment_likers/${second_comment_id}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        let likersHtml = '<ul>';
                        data.likers.forEach(liker => {
                            const userInfoUrl = userInfoUrlTemplate + liker.id;
                            likersHtml += `<li><a href="${userInfoUrl}">${liker.username}</a></li>`;
                        });
                        likersHtml += '</ul>';
                        likersDiv.innerHTML = likersHtml;
                        likersDiv.style.display = 'block';
                    }
                });
        } else {
            likersDiv.style.display = 'none';
        }
    }
            
        </script>
    </div>
    <div class="col"></div>
</div>
<!-- 引入 Quill 的 JavaScript -->
<script src="{{ url_for('static', filename='quill/dist/quill.js') }}"></script>
<script src="{{ url_for('static',filename='js/image-resize.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const isLoggedIn = {{ 'true' if user else 'false' }};

        var commentQuill = new Quill('#comment-editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    ['link', 'image'], // 添加图片按钮
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'align': [] }]
                ],
                imageResize:{} //启用图片大小调整模块
            }
        });

        // 处理图片上传
        commentQuill.getModule('toolbar').addHandler('image', function() {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');
            input.addEventListener('change', function() {
                var file = this.files[0];
                if (file) {
                    var formData = new FormData();
                    formData.append('image', file);
                    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    // 发送图片上传请求
                    fetch('/upload-image', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': csrfToken
                        }
                    })
                   .then(response => response.json())
                   .then(data => {
                        if (data.success) {
                            // 在编辑器中插入图片
                            var range = commentQuill.getSelection();
                            commentQuill.insertEmbed(range.index, 'image', data.url);
                        }
                    });
                }
            });
            input.click();
        });

        // 在表单提交时，将编辑器内容保存到隐藏字段中
        var commentForm = document.querySelector('form[action="{{ url_for("qa.public_comment") }}"]');
        commentForm.onsubmit = function() {
            var commentContent = commentQuill.root.innerHTML;
            document.getElementById('comment-content').value = commentContent;
            return true;
        };

        var showORhiddenCommentFormButton = document.getElementById('showORhidden-comment-form');
        var commentForm = document.getElementById('comment-form');
        showORhiddenCommentFormButton.addEventListener('click', function() {
            if (!isLoggedIn) {
                if (confirm("您还未登录，是否要去登录？")) {
                    window.location.href = "{{ url_for('auth.login') }}";
                }
            } else {
                console.log('发表评论按钮被点击');
                if (commentForm.style.display === 'none') {
                    commentForm.style.display = 'block';
                    this.textContent = '隐藏评论框';
                } else {
                    commentForm.style.display = 'none';
                    this.textContent = '发表评论';
                }
            }
        });

        // 初始化二级评论编辑器
        var commentIds = {{ question.comments|map(attribute='id')|list }};
        commentIds.forEach(function(commentId) {
            var secondCommentQuill = new Quill('#second-comment-editor-' + commentId, {
                theme: 'snow',
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        ['link', 'image'], // 添加图片按钮
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'align': [] }]
                    ],
                    imageResize: {} // 启用图片大小调整模块
                }
            });

            // 处理二级评论图片上传
            secondCommentQuill.getModule('toolbar').addHandler('image', function() {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.addEventListener('change', function() {
                    var file = this.files[0];
                    if (file) {
                        var formData = new FormData();
                        formData.append('image', file);
                        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                        // 发送图片上传请求
                        fetch('/upload-image', {
                            method: 'POST',
                            body: formData,
                            headers: {
                                'X-CSRFToken': csrfToken
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                // 在编辑器中插入图片
                                var range = secondCommentQuill.getSelection();
                                secondCommentQuill.insertEmbed(range.index, 'image', data.url);
                            }
                        });
                    }
                });
                input.click();
            });

            // 在二级评论表单提交时，将编辑器内容保存到隐藏字段中
            var secondCommentForm = document.getElementById('second-comment-form-' + commentId);
            secondCommentForm.onsubmit = function() {
                var secondCommentContent = secondCommentQuill.root.innerHTML;
                document.getElementById('second-comment-content-' + commentId).value = secondCommentContent;
                console.log('Submitted second comment content:',secondCommentContent)
                return true;
            };
        });

        // 点击按钮显示/隐藏二级评论表单
        var toggleButtons = document.querySelectorAll('.toggle-second-comment');
        toggleButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                console.log('回复按钮被点击');
                var commentId = this.dataset.commentId;
                var form = document.getElementById('second-comment-form-' + commentId);
                if (isLoggedIn) {
                    if (form.style.display === 'none') {
                        form.style.display = 'block';
                        this.textContent = '隐藏回复框';
                    } else {
                        form.style.display = 'none';
                        this.textContent = '回复';
                    }
                } else {
                    if (confirm("您还未登录，是否要去登录？")) {
                        window.location.href = "{{ url_for('auth.login') }}";
                    }
                }
            });
        });

        // 点击按钮显示/隐藏二级评论
        var toggleSecondCommentsButtons = document.querySelectorAll('.toggle-second-comments');
        toggleSecondCommentsButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var commentId = this.dataset.commentId;
                var secondCommentCount = this.dataset.secondCommentCount;
                console.log('Comment ID:', commentId);
                console.log('Second comment count:', secondCommentCount);
                var secondCommentsList = document.getElementById('second-comments-list-' + commentId);
                if (secondCommentsList.style.display === 'none') {
                    secondCommentsList.style.display = 'block';
                    this.textContent = '隐藏 (' + secondCommentCount + ')';
                } else {
                    secondCommentsList.style.display = 'none';
                    this.textContent = '查看 (' + secondCommentCount + ')';
                }
            });
        });

        function checkLoginAndShowForm(formId) {
            if (!isLoggedIn) {
                if (confirm("您还未登录，是否要去登录？")) {
                    window.location.href = "{{ url_for('auth.login') }}";
                }
            } else {
                var form = document.getElementById(formId);
                if (form.style.display === 'none') {
                    form.style.display = 'block';
                    if (formId === 'comment-form') {
                        document.getElementById('showORhidden-comment-form').textContent = '隐藏评论框';
                    } else {
                        var button = document.querySelector(`[data-comment-id="${formId.split('-')[3]}"]`);
                        button.textContent = '隐藏二级评论框';
                    }
                } else {
                    form.style.display = 'none';
                    if (formId === 'comment-form') {
                        document.getElementById('showORhidden-comment-form').textContent = '发表评论';
                    } else {
                        var button = document.querySelector(`[data-comment-id="${formId.split('-')[3]}"]`);
                        button.textContent = '回复';
                    }
                }
            }
        }
        
    });
    function deleteComment(commentId) {
    if (confirm("确定要删除这条评论吗？")) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        fetch(`/delete_comment/${commentId}`, {
            method: "delete",
            headers: {
                "X-CSRFToken": "{{ csrf_token() }}" // 如果启用了 CSRF 保护
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert("评论已删除");
                document.getElementById(`comment-${commentId}`).remove(); // 假设评论的外层容器有 id
            } else {
                alert(data.message || "删除失败");
            }
        });
    }
}

function deleteSecondComment(secondCommentId) {
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    if (confirm("确定要删除这条回复吗？")) {
        fetch(`/delete_second_comment/${secondCommentId}`, {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token() }}" // 如果启用了 CSRF 保护
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert("回复已删除");
                document.getElementById(`second-comment-${secondCommentId}`).remove(); // 假设回复的外层容器有 id
            } else {
                alert(data.message || "删除失败");
            }
        });
    }
}
</script>
{% endblock %}