{% extends 'base.html' %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
    <!-- 引入 Quill 的 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='quill/dist/quill.snow.css') }}">
    <style>
        /* 调整问答部分点赞按钮位置 */
        .question-info {
            position: relative;
        }
        .question-info .btn {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 10px; /* 增加右边距，避免挡住日期 */
        }
        /* 调整评论部分点赞按钮位置 */
        .comment-group .user-info {
            position: relative;
        }
        .comment-group .user-info .btn {
            position: absolute;
            right: 0;
            margin-right: 10px; /* 增加右边距，避免挡住日期 */
            margin-top: 50px;
        }
        /* 调整回复部分点赞按钮位置 */
        .second-comment-group .user-info {
            position: relative;
        }
        .second-comment-group .user-info .btn {
            position: absolute;
            right: 0;
            margin-right: 10px; /* 增加右边距，避免挡住日期 */
            margin-top: 50px;
        }
    </style>

{% endblock %}

{% block body %}
<div class="row" style="margin-top: 20px;">
    <div class="col"></div>
    <div class="col-10" style="background-color: #fff;padding: 20px;">
        <h3 class="page-title">{{ question.title }}</h3>
        <p class="question-info">
            <span>作者:{{ question.author.username }}</span>
            <span>时间:{{ question.create_time }}</span>
            <button id="question-likes-{{ question.id }}" class="btn btn-primary btn-sm" onclick="likeQuestion({{question.id}})">点赞({{ question.likes }})</button>
        </p>
        <!-- 显示问题的图片 -->
        {% if question.image %}
        <img src="{{ url_for('uploaded_file', filename=question.image) }}" class="img-fluid" alt="问题图片">
        {% endif %}
        <hr>
        <p class="question-content">{{ question.content|safe }}</p>
        <hr>
        <h4 class="comment-group-title">评论({{ question.answers|length }}):</h4>
        <!-- 一个用于显示/隐藏富文本框的按钮 -->
        <button id="showORhidden-answer-form" class="btn btn-primary">发表评论</button>
        <!-- 评论表单默认为隐藏 -->
        <form action="{{ url_for('qa.public_answer') }}" method="post" enctype="multipart/form-data" style="display: none;" id="answer-form">
            <!-- Quill 编辑器容器 -->
            <div id="answer-editor" style="height: 200px;"></div>
            <input type="hidden" id="answer-content" name="content">
            <input type="hidden" id="question_id" name="question_id" value="{{ question.id }}">
            <div class="form-group" style="text-align: right;">
                <button class="btn btn-primary">评论</button>
            </div>
        </form>
        <ul class="comment-group">
            {% for answer in question.answers %}
            <li>
                <div class="user-info">
                    <img class="avatar" src="{% if answer.author.avatar %}{{ url_for('uploaded_file', filename=answer.author.avatar) }}{% else %}{{ url_for('static', filename='images/avatar.jpg') }}{% endif %}" alt="">
                    <span class="username">{{ answer.author.username }}</span>
                    <span class="create-time">{{ answer.create_time }}</span>
                    <button id="answer-likes-{{ answer.id }}" class="btn btn-primary btn-sm" onclick="likeAnswer({{answer.id}})">点赞({{ answer.likes }})</button>
                </div>
                <p class="comment-content">{{ answer.content|safe }}</p>
                <!-- 显示评论的图片 -->
                {% if answer.image %}
                    <img src="{{ url_for('uploaded_file', filename=answer.image) }}" class="img-fluid" alt="评论图片">
                {% endif %}
                <!-- 删除评论的按钮 -->
                {% if answer.author == g.user %}
                <form action="{{ url_for('qa.delete_answer', answer_id = answer.id) }}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">删除评论</button>
                </form>
                {% endif %}
                <!-- 二级评论按钮 -->
                <button class="btn btn-secondary btn-sm toggle-second-answer" data-answer-id="{{ answer.id }}" onclick="checkLoginAndShowForm('second-answer-form-{{ answer.id }}')">回复</button>
                <!-- 二级评论表单，默认隐藏 -->
                <form action="{{ url_for('qa.public_second_answer') }}" method="post" enctype="multipart/form-data" style="display: none;" id="second-answer-form-{{ answer.id }}">
                    <!-- Quill 编辑器容器 -->
                    <div id="second-answer-editor-{{ answer.id }}" style="height: 200px;"></div>
                    <input type="hidden" id="second-answer-content-{{ answer.id }}" name="content">
                    <input type="hidden" name="answer_id" value="{{ answer.id }}">
                    <div class="form-group" style="text-align: right;">
                        <button class="btn btn-primary">回复</button>
                    </div>
                </form>
                <!-- 显示二级评论 -->
                <button class="btn btn-secondary btn-sm toggle-second-answers" data-answer-id="{{ answer.id }}" data-second-answer-count="{{answer.second_answers|length}}">查看({{ answer.second_answers|length }})</button>
                <ul class="second-answer-group" style="display: none;" id="second-answers-list-{{ answer.id }}">
                    {% for second_answer in answer.second_answers %}
                    <li>
                        <div class="user-info">
                            <img class="avatar" src="{% if second_answer.author.avatar %}{{ url_for('uploaded_file', filename=second_answer.author.avatar) }}{% else %}{{ url_for('static', filename='images/avatar.jpg') }}{% endif %}" alt="">
                            <span class="username">{{ second_answer.author.username }}</span>
                            <span class="create-time">{{ second_answer.create_time }}</span>
                            <button id="second-answer-likes-{{ second_answer.id }}" class="btn btn-primary btn-sm" onclick="likeSecondAnswer({{second_answer.id}})">点赞({{ second_answer.likes }})</button>
                        </div>
                        <p class="comment-content">{{ second_answer.content|safe }}</p>
                        <!-- 显示二级评论的图片 -->
                        {% if second_answer.image %}
                            <img src="{{ url_for('uploaded_file', filename=second_answer.image) }}" class="img-fluid" alt="回复图片">
                        {% endif %}
                        <!-- 删除二级评论的按钮 -->
                        {% if second_answer.author == g.user %}
                        <form action="{{ url_for('qa.delete_second_answer', second_answer_id = second_answer.id) }}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">删除回复</button>
                        </form>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <script>
                function likeQuestion(question_id) {
                    var isLoggedIn = {{ "true" if g.user else "false" }};
                    if (!isLoggedIn) {
                        if (confirm("您还未登录，是否要去登录？")) {
                            window.location.href = "{{ url_for('auth.login') }}";
                        }
                        return;
                    }
                    var likesElement = document.getElementById(`question-likes-${question_id}`);
                    var isLiked = likesElement.textContent.includes("取消点赞");

                    fetch(`/like_question/${question_id}`, {
                        method: 'POST'
                    })
                .then(response => response.json())
                .then(data => {
                        if (data.success) {
                            if (isLiked) {
                                likesElement.textContent = `点赞(${data.likes})`;
                            } else {
                                likesElement.textContent = `取消点赞(${data.likes})`;
                            }
                        }
                    });
                }

                function likeAnswer(answer_id) {
                    var isLoggedIn = {{ "true" if g.user else "false" }};
                    if (!isLoggedIn) {
                        if (confirm("您还未登录，是否要去登录？")) {
                            window.location.href = "{{ url_for('auth.login') }}";
                        }
                        return;
                    }
                    var likesElement = document.getElementById(`answer-likes-${answer_id}`);
                    var isLiked = likesElement.textContent.includes("取消点赞");

                    fetch(`/like_answer/${answer_id}`, {
                        method: 'POST'
                    })
                .then(response => response.json())
                .then(data => {
                        if (data.success) {
                            if (isLiked) {
                                likesElement.textContent = `点赞(${data.likes})`;
                            } else {
                                likesElement.textContent = `取消点赞(${data.likes})`;
                            }
                        }
                    });
                }

                function likeSecondAnswer(second_answer_id) {
                    var isLoggedIn = {{ "true" if g.user else "false" }};
                    if (!isLoggedIn) {
                        if (confirm("您还未登录，是否要去登录？")) {
                            window.location.href = "{{ url_for('auth.login') }}";
                        }
                        return;
                    }
                    var likesElement = document.getElementById(`second-answer-likes-${second_answer_id}`);
                    var isLiked = likesElement.textContent.includes("取消点赞");

                    fetch(`/like_second_answer/${second_answer_id}`, {
                        method: 'POST'
                    })
                .then(response => response.json())
                .then(data => {
                        if (data.success) {
                            if (isLiked) {
                                likesElement.textContent = `点赞(${data.likes})`;
                            } else {
                                likesElement.textContent = `取消点赞(${data.likes})`;
                            }
                        }
                    });
                }
        </script>
    </div>
    <div class="col"></div>
</div>
<!-- 引入 Quill 的 JavaScript -->
<script src="{{ url_for('static', filename='quill/dist/quill.js') }}"></script>
<script src="{{ url_for('static',filename='js/image-resize.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var isLoggedIn = {{ "true" if g.user else "false" }};

        var answerQuill = new Quill('#answer-editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    ['link', 'image'], // 添加图片按钮
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'align': [] }]
                ],
                imageResize:{} //启用图片大小调整模块
            }
        });

        // 处理图片上传
        answerQuill.getModule('toolbar').addHandler('image', function() {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');
            input.addEventListener('change', function() {
                var file = this.files[0];
                if (file) {
                    var formData = new FormData();
                    formData.append('image', file);

                    // 发送图片上传请求
                    fetch('/upload-image', {
                        method: 'POST',
                        body: formData
                    })
                   .then(response => response.json())
                   .then(data => {
                        if (data.success) {
                            // 在编辑器中插入图片
                            var range = answerQuill.getSelection();
                            answerQuill.insertEmbed(range.index, 'image', data.url);
                        }
                    });
                }
            });
            input.click();
        });

        // 在表单提交时，将编辑器内容保存到隐藏字段中
        var answerForm = document.querySelector('form[action="{{ url_for("qa.public_answer") }}"]');
        answerForm.onsubmit = function() {
            var answerContent = answerQuill.root.innerHTML;
            document.getElementById('answer-content').value = answerContent;
            return true;
        };

        var showORhiddenAnswerFormButton = document.getElementById('showORhidden-answer-form');
        var answerForm = document.getElementById('answer-form');
        showORhiddenAnswerFormButton.addEventListener('click', function() {
            if (!isLoggedIn) {
                if (confirm("您还未登录，是否要去登录？")) {
                    window.location.href = "{{ url_for('auth.login') }}";
                }
            } else {
                console.log('发表评论按钮被点击');
                if (answerForm.style.display === 'none') {
                    answerForm.style.display = 'block';
                    this.textContent = '隐藏评论框';
                } else {
                    answerForm.style.display = 'none';
                    this.textContent = '发表评论';
                }
            }
        });

        // 初始化二级评论编辑器
        var answerIds = {{ question.answers|map(attribute='id')|list }};
        answerIds.forEach(function(answerId) {
            var secondAnswerQuill = new Quill('#second-answer-editor-' + answerId, {
                theme: 'snow',
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        ['link', 'image'], // 添加图片按钮
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'align': [] }]
                    ]
                }
            });

            // 处理二级评论图片上传
            secondAnswerQuill.getModule('toolbar').addHandler('image', function() {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.addEventListener('change', function() {
                    var file = this.files[0];
                    if (file) {
                        var formData = new FormData();
                        formData.append('image', file);

                        // 发送图片上传请求
                        fetch('/upload-image', {
                            method: 'POST',
                            body: formData
                        })
                       .then(response => response.json())
                       .then(data => {
                            if (data.success) {
                                // 在编辑器中插入图片
                                var range = secondAnswerQuill.getSelection();
                                secondAnswerQuill.insertEmbed(range.index, 'image', data.url);
                            }
                        });
                    }
                });
                input.click();
            });

            // 在二级评论表单提交时，将编辑器内容保存到隐藏字段中
            var secondAnswerForm = document.getElementById('second-answer-form-' + answerId);
            secondAnswerForm.onsubmit = function() {
                var secondAnswerContent = secondAnswerQuill.root.innerHTML;
                document.getElementById('second-answer-content-' + answerId).value = secondAnswerContent;
                return true;
            };
        });

        // 点击按钮显示/隐藏二级评论表单
        var toggleButtons = document.querySelectorAll('.toggle-second-answer');
        toggleButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                console.log('回复按钮被点击');
                var answerId = this.dataset.answerId;
                var form = document.getElementById('second-answer-form-' + answerId);
                if (isLoggedIn) {
                    if (form.style.display === 'none') {
                        form.style.display = 'block';
                        this.textContent = '隐藏回复框';
                    } else {
                        form.style.display = 'none';
                        this.textContent = '回复';
                    }
                } else {
                    if (confirm("您还未登录，是否要去登录？")) {
                        window.location.href = "{{ url_for('auth.login') }}";
                    }
                }
            });
        });

        // 点击按钮显示/隐藏二级评论
        var toggleSecondAnswersButtons = document.querySelectorAll('.toggle-second-answers');
        toggleSecondAnswersButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var answerId = this.dataset.answerId;
                var secondAnswerCount = this.dataset.secondAnswerCount;
                var secondAnswersList = document.getElementById('second-answers-list-' + answerId);
                if (secondAnswersList.style.display === 'none') {
                    secondAnswersList.style.display = 'block';
                    this.textContent = '隐藏 (' + secondAnswerCount + ')';
                } else {
                    secondAnswersList.style.display = 'none';
                    this.textContent = '查看 (' + secondAnswerCount + ')';
                }
            });
        });

        function checkLoginAndShowForm(formId) {
            if (!isLoggedIn) {
                if (confirm("您还未登录，是否要去登录？")) {
                    window.location.href = "{{ url_for('auth.login') }}";
                }
            } else {
                var form = document.getElementById(formId);
                if (form.style.display === 'none') {
                    form.style.display = 'block';
                    if (formId === 'answer-form') {
                        document.getElementById('showORhidden-answer-form').textContent = '隐藏评论框';
                    } else {
                        var button = document.querySelector(`[data-answer-id="${formId.split('-')[3]}"]`);
                        button.textContent = '隐藏二级评论框';
                    }
                } else {
                    form.style.display = 'none';
                    if (formId === 'answer-form') {
                        document.getElementById('showORhidden-answer-form').textContent = '发表评论';
                    } else {
                        var button = document.querySelector(`[data-answer-id="${formId.split('-')[3]}"]`);
                        button.textContent = '回复';
                    }
                }
            }
        }
    });
</script>
{% endblock %}