{% extends 'base.html' %}

{% block title %}找回密码{% endblock  %}

{% block head %}{% endblock  %}

{% block body %}
<div class="row mt-4">
    <div class="col"></div>
    <div class="col">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error|safe }}
        </div>
        {% endif %}

        <form method="POST">
            {{ form.hidden_tag() }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label for="exampleInputEmail1">邮箱</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{email if email else '' }}">
                <small id="emailHelp" class="form-text text-muted">请输入注册时使用的邮箱</small>
            </div>
            <div class="form-group">
                <label for="exampleInputCaptcha1">验证码</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="captcha">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="captcha-btn">获取验证码</button>
                    </div>
                </div>
                <small id="captcha" class="form-text text-muted">请输入收到的4位验证码</small>
            </div>
            <button type="submit" class="btn btn-primary btn-block">提交验证</button>
        </form>
    </div>
    <div class="col"></div>
</div>
<script src="{{url_for('static',filename='jquery/jquery.3.6.min.js')}}"></script>
<script>
    function bindEmailCaptchaClick(){
        $("#captcha-btn").click(function(event){
            var $this = $(this);
            event.preventDefault();
            var email = $("input[name='email']").val();
            $.ajax({
                url:"/auth/captcha/email?email="+email,
                method:"GET",
                success:function(result){
                    var code = result['code'];
                    if(code == 200){
                        var countdown = 30;
                        $this.off("click");
                        var timer = setInterval(function(){
                            $this.text(countdown);
                            countdown -= 1;
                            if(countdown <= 0){
                                clearInterval(timer);
                                $this.text("获取验证码");
                                bindEmailCaptchaClick();
                            }
                        },1000);
                        alert("验证码已发往邮箱!")
                    }else{
                        alert(result['message']);
                    }
                },
                error:function(error){
                    console.log(error);
                }
            });
        });
    }

    $(function(){
        bindEmailCaptchaClick();
    });
</script>
{% endblock  %}