{% extends 'base.html' %}

{% block title %}知了传课-修改密码{% endblock  %}

{% block head %}{% endblock  %}

{% block body %}
<div class="row mt-4">
    <div class="col"></div>
    <div class="col">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error|safe }}
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success|safe }}
        </div>
        {% endif %}

        <form method="POST">
            <div class="form-group">
                <label for="exampleInputOldPassword1">旧密码</label>
                <input type="password" class="form-control" id="exampleInputOldPassword1" name="old_password">
                <small id="oldPasswordHelp" class="form-text text-muted">请输入旧密码</small>
            </div>
            <div class="form-group">
                <label for="exampleInputNewPassword1">新密码</label>
                <input type="password" class="form-control" id="exampleInputNewPassword1" name="new_password">
                <small id="newPasswordHelp" class="form-text text-muted">请输入新密码</small>
            </div>
            <div class="form-group">
                <label for="exampleInputConfirmNewPassword1">确认新密码</label>
                <input type="password" class="form-control" id="exampleInputConfirmNewPassword1" name="confirm_new_password">
                <small id="confirmNewPasswordHelp" class="form-text text-muted">请再次输入新密码</small>
            </div>
            <button type="submit" class="btn btn-primary btn-block">提交修改</button>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock  %}