{% extends 'base.html' %}

{% block title %}修改用户名{% endblock  %}

{% block head %}{% endblock  %}

{% block body %}
<div class="row mt-4">
    <div class="col"></div>
    <div class="col">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error|safe }}
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success|safe }}
        </div>
        {% endif %}

        <form method="POST">
            <div class="form-group">
                <label for="exampleInputUsername1">新用户名</label>
                <input type="text" class="form-control" id="exampleInputUsername1" name="username" placeholder="{{ user.username }}">
                <small id="usernameHelp" class="form-text text-muted">请输入新的用户名</small>
            </div>
            <button type="submit" class="btn btn-primary btn-block">提交修改</button>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock  %}